@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway);

$roboto_black: "Roboto Black", sans-serif;

$roboto_medium: "Roboto", sans-serif;

$Raleway: "Raleway", sans-serif;
