body {
  background: $cardColor;
  font-size: 0.6em;
  font-family: $Raleway;
}

.card_content {
  position: relative;
  width: 250px;
  height: 282px;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.card_contentImage {
  width: 250px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card_contentDetails {
  color: #000000;
  position: absolute;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  bottom: -17%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

.card_title {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.card_p {
  font-weight: 900;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
