.home_container {
  background-color: $main;
  height: 100vh;
  width: 100vw;
}
.home_btn {
  width: 200px;
  padding: 8px;
  font-size: 2em;
  border: none;
  border-radius: 25px;
  background-color: $secondary;
  color: #ffffff;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  margin-top: 2em;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;

  &:hover {
    background-color: $white;
    color: $secondary;
  }

  @media (max-width: 900px) {
    margin-top: 1em;
  }
}

.home_btn1 {
  font-size: 14px;
  border: none;
  border-radius: 25px;
  background-color: $secondary;
  color: #ffffff;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;

  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;

  &:hover {
    background-color: $white;
    color: $secondary;
  }

  @media (max-width: 900px) {
    margin-top: 1em;
  }
}

.home_disabled {
  cursor: not-allowed;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  background-color: $gray;
  color: $darkerGray;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: 900px) {
    margin-top: 1em;
  }
}

.home_closeIcon {
  width: 20px;
  height: auto;
}

.home_closeButton {
  border: none;
  display: inline-block;
  position: relative;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  width: 10%;
  padding: 10px 10px;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background: $darkerGray;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.home_styleDropdown {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  width: 200px;
  outline: none;
  margin-right: 1em;

  option {
    font-size: 14px;
  }

  @media (max-width: 900px) {
    margin-top: 1em;
  }
}

.home_p1 {
  color: $secondary;
  font-size: 2em;
  font-weight: 500;
  font-family: $roboto_medium;
  margin: 0%;
  padding-bottom: 0.1em;
}

.home_modalFilter {
  display: flex;
  justify-content: center;

  /* Media query for max-width of 500px */
  @media (max-width: 900px) {
    flex-direction: column; /* Elements will be stacked in a column */
    align-items: center; /* Optional: Centers items horizontally within the div */
  }
}

.modal-content {
  background-color: rgba(243, 240, 235, 0);
  border-color: rgba(243, 240, 235, 0);
}

$loader-size: 70px;

.home_loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  &:after {
    background-color: rgb(249, 249, 32);
    content: "";
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 8px;
    border-radius: 50%;
    background: #fff;
    animation: coin-flip 8s cubic-bezier(0, 0.1, 0.1, 0.6) infinite;
  }
}

@keyframes coin-flip {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
